body{
    margin:0;
    background-color: black;
    color: white;
    padding-left: 550px;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

.card{
    display: flex;
    flex:1;
    background-color: #23252C;
    width: 550px;
    height: 868px;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    min-height: 100%;
}

h3 {
    display: inline; 
    margin-top: 21px; 
  }
  
p {
    display: flex; 
    font-size: 12px; 
    margin-top:6px; 
    font-weight: normal; 
  }
.card-info{
    align-items: center;
    justify-content: center;
    width:317px;
    height: 780px;
    background-color: #1A1B21;
    border-radius: 10px;
}

.person-name {
    align-items: center; 
    padding-left: 77px;
    font-size: 25px;
    margin-top: 21px;
}

.person-position{
    line-height: 1; 
    padding-left: 99px;
    color: #F3BF99;
}

.person-email{
    padding-left: 88px;
}
.person-img{
    width: 317px;
    border-top-right-radius: 10px; 
    border-top-left-radius: 10px; 
    height: 317px;
    margin-bottom: 21px;
}

.person-email{
    font-size: 11px;
}

.email-button{
    cursor: pointer;
    padding: 9px;
    width: 115px;
    height: 34px;
    margin: 10px;
    border-radius:6px;
    margin-left: 40px;
}

.linkedIn-button{
    cursor: pointer;
    padding: 9px;
    width: 115px;
    height: 34px;
    background-color: #5093E2;
    color: white;
    border-radius:6px;
}

#evelope-icon{
    margin-right:8px;
}

.about-section{
    margin-top: 33px;
}
.Interests-section{
    margin-top: 27px;
}

#linkedin-icon{
    margin-right:8px;
}

.footer-section{
    background-color: #161619;
    padding: 15px;
    height: 44px;
    margin-top:66px;
}

#icon-twitter{
    margin-left: 52px;
}

#icon-instagram{
    margin-right: 4px;
}

.social-icons i {
    justify-content: center;
    align-items: center;
    font-size: 24px; 
    margin-right: 24px; 
    color: black; 
    background-color: #918E9B;
    border-radius: 5px; 
    padding: 3px; 
}